/* css/sign_out.css */

.signout .promotion{background:url('https://s3-s.licdn.com/scds/common/u/img/pic/mobile_signout_default_494x300_v1.png') 100% 0 no-repeat;margin:15px 125px 0 95px;height:225px;padding:70px 430px 0 0;width:417px;}
.signout .promotion h2{font-size:24px;margin-bottom:10px;}
.ja .signout .promotion h2{font-size:22px;}
.signout .promotion p{font-size:15px;margin-bottom:10px;}
.signout .promotion .btn{font-size:13px;margin-bottom:10px;}
.signout .h-730x90{border:0;padding-top:0;}