

/* scss/modules/invite_dialog.css */

.vcard.biz-card{padding:10px 15px;background:#fff;border:1px solid #ccc;font-size:13px;box-shadow:2px 2px 7px #ccc;-webkit-box-shadow:2px 2px 7px #ccc;-moz-box-shadow:2px 2px 7px #ccc}
.vcard.biz-card .image{float:left;margin-right:10px;border:3px solid #e5e5e5}
.vcard.biz-card .details{width:210px;float:left;margin-bottom:10px}
.vcard.biz-card h2{margin:7px 0;font-size:21px;font-weight:bold;color:#069;overflow:hidden}
.vcard.biz-card .headline{margin:3px 0;font-weight:bold}
.vcard.biz-card .locality{color:#666}
.vcard.biz-card .message-toggle{clear:both;padding:5px 0;border-top:1px dotted #666}
.vcard.biz-card .message-toggle a{padding-left:18px;background:url('../images/pics2/img/icon/icon_edit_pencil_blue_14x15.png') no-repeat left center}
.vcard.biz-card .message{display:none;clear:both;padding:10px 0}
.vcard.biz-card .message textarea{width:100%;font-size:13px}
.vcard.biz-card.show-message .message-toggle{display:none}
.vcard.biz-card.show-message .message{display:block}
.vcard.biz-card.has-error .message-toggle{display:none}
.vcard.biz-card.has-error .message{display:block}
.vcard.biz-card.has-image .message-toggle{margin-left:100px}
.invite-content .actions{clear:both;padding:10px 30px;margin-top:17px}
.invite-content .actions .btn-secondary,.invite-content .actions .btn-primary{font-size:13px}
.invite-dialog .dialog-body{padding:0;overflow:hidden;background-color:#EFEFEF}
.invite-dialog .vcard{margin:15px 30px}
.invite-dialog .invite-dialog-loading .actions{background:url('../images/pics1/img/anim/anim_loading_16x16.gif') no-repeat 2px center}

